#container-criar-conta {
  border-color: #068146;
  border-style: solid;
  border-width: 2px;
  padding: 30px;
  padding-top: 10px;
  border-radius: 3px;
  align-content: center;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.txt {
  color: #068146;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#botao-criar-conta {
  margin-top: 20px;
  align-self: flex-start;
}
